.button {
  border-radius: 0;
  padding: 0.55rem 1.2rem;
  border: 2px solid var(--color-blue);
  border-radius: 8px;
}

.button:active,
.button:focus {
  box-shadow: none !important;
}


.buttonBlank {
  color: var(--color-white);
}

.buttonBlank:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-dark);
  font-weight: bold;
  background-color: var(--color-blue);
}

.buttonFilled {
  background-color: var(--color-blue);
  color: var(--color-dark);
  font-weight: 800;
}

.buttonFilled:hover {
  border: 2px solid var(--color-blue);
  color: var(--color-white);
  font-weight: normal;
  background-color: transparent;
}

.icon {
  margin: 0.5rem 0;
  color: var(--color-white);
  font-size: 1.9rem;
  cursor: pointer;
}

.icon:hover {
  color: var(--color-blue);
}

/* @media screen and (max-width: 480px) {
  .icon
} */
