.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  top: 1rem;
  padding: 0.5rem 2rem;
  font-family: var(--font-family)!important;
  background-color: transparent!important;
  backdrop-filter: blur(5px);
  margin-bottom: 1rem;
  letter-spacing: 1px;
  /* border: 1px solid white; */
}

.navbarButton {
  border: 3px solid var(--color-blue);
  border-radius: 0;
  color: var(--color-white)!important;
  padding: 0.7rem 1.2rem;
  letter-spacing: 1px;
  outline: none !important;
}

.navbarButton:hover {
  color: var(--color-dark)!important;
  font-weight: bold;
  background-color: transparent;
  border: 3px solid var(--color-blue);
  background-color: var(--color-blue);
}

.navbarButton:active, .navbarButton:focus {
  outline: none !important;
  box-shadow: none!important;
}

.imageContainer {
  bottom: 0;
  width: 3.3rem;
  float: left;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

.links {
  color: var(--color-white-dark)!important;
  margin-right: 1rem;
}

.links:last-child {
  margin-right: 4rem;
}

.links:hover,
.links.active {
  color: white!important;
}

.navbarToggle {
  border: none;
  padding: 0;
  margin: 0;
}

.navbarToggle:focus {
  outline: none;
  box-shadow: none;
}

.icon {
  color: white;
}



