.indicatorsWrapper {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  animation: indicators-animation 1.7s;
}

.indicator {
  width: 1rem;
  border-top: 1px solid white;
  border-image: linear-gradient(
      to left,
      var(--color-dark) 0%,
      var(--color-white) 100%
    )
    100% 1;
  margin-bottom: 1rem;
}

.indicator:nth-child(1) {
  width: 4rem;
  border-image: linear-gradient(
      to left,
      var(--color-dark) 0%,
      var(--color-white) 100%
    )
    100% 1;
}

@keyframes indicators-animation {
  0% {
    opacity: 0%;
  }
  80% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@media screen and (max-width: 993px) {
  .indicatorsWrapper {
    display: none;
  }
}

.navbar-collapse {
  overflow: hidden;
}
