.contentWrapper {
    width: 100%;
    height: 2000px;
    padding-right: 8rem;
    padding-left: 8rem;
}

.container {
    /* background-color: red; */
    height: 2000px;
}

.navbar-nav {
    margin-left: auto;
}